<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    </style>
</head>
<body>
    <div id="root"> 
        <p class="word">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum soluta blanditiis assumenda sapiente nemo ipsam quaerat, unde nisi accusamus pariatur esse cumque similique aperiam magnam nesciunt excepturi suscipit in id.
        </p>
        <form action="#">
            <label for="key">搜索</label><input id="key" type="text" v-model.lazy.trim="keyValue">
            <button type="button" @click="isIndexDate=!isIndexDate">选择日期</button>
            <button type="button" @click="isIndexTag=!isIndexTag">选择标签</button>
            <div v-show="isIndexDate">
                <label for="start">开始日期</label><input type="date" id="start" v-model="dateStart" placeholder="dateStart">
                <label for="end">结束日期</label><input type="date" id="end" v-model="dateEnd">
            </div>  
            <div v-show="isIndexTag">
                <label for="tagselect">标签</label><select name="" id="tagselect" v-model="selectTag">
                    <option value="">请选择一个标签，进行筛选</option>
                    <option v-for="(item,index) of clipTags" :key="index" v-bind:value="item">{{item}}</option>
                </select>
            </div>
        </form>
        <ul>
            <li class="itemshow" v-for="(item,index) in showBoard" :key="item.id">
                <span>{{index}}</span><span>{{item.content}}</span><span>{{item.tag}}</span>
                <button type="button" id="delete" @click="deleteItem($event,item)">删除</button>
            </li>
        </ul>    
    </div> 
    <script  src="vue.js"></script>  
    <script  src="popup.js"></script>
</body>
</html>